STRIPE_SECRET_KEY=sk_test_51Nhh3LFLykiyltKOvA6sUea4JZlbpt9S2rrl6GyGEJfBwPGObXtRgyXNdbA2Gk1i21defncyytQGHTRQB3qp6M9A00rKaqFxnA
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_RPC_URL=https://horizon-testnet.stellar.org
